<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/76ed3c4143.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>ACTIVIDADES SOFI 😍</title>
</head>

<body class="body-acciones">
    <a class="atras-boton" href="https://app-sofi.herokuapp.com">
        <i class="far fa-arrow-alt-circle-left"></i>
    </a>

    <section class="perfil">
        <div>
            <a href="">
                <img src="/img/d1e01e7c-6846-4f0a-a649-6891cfc7302d.jpg" alt="">
            </a>
            <p>YO</p>
        </div>

        <div>
            <a href="">
                <img src="/img/5b2783a3-9d29-4034-add9-231bb3b8a513.jpg" alt="">
            </a>
            <p>QUIERO</p>
        </div>
    </section>

    
        <ul class="acciones">
            <li>
                <a href="">
                    <img src="/img/60f2ff2b-7e61-43ed-8ac6-eda07ae360db.jpg" alt="">
                </a>
                <p>DORMIR</p>
            </li>

            <li>
                <a href="">
                    <img src="/img/ed9a9c7d-63ee-4f75-a832-1b04243dc40a.jpg" alt="">
                </a>
                <p>COMER</p>
            </li>

            <li>
                <a href="">
                    <img src="/img/5572d379-366a-44d0-a867-0c39918c4a28.jpg" alt="">
                </a>
                <p>JUGAR</p>
            </li>

            <li>
                <a href="">
                    <img src="/img/03e8f12e-dc67-45ba-8559-054c26d4696d.jpg" alt="">
                </a>
                <p>BAÑO</p>
            </li>
        </ul>
    
</body>

</html>