<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/76ed3c4143.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>ALIMENTACIÓN SOFI 😍</title>
</head>
<body class="body-acciones">
    <a class="atras-boton" href="https://app-sofi.herokuapp.com/">
        <i class="far fa-arrow-alt-circle-left"></i>
    </a>

    <section class="perfil">
        <div>
            <a href="">
                <img src="/img/volkswagen-3-logo-svg-vector.svg" alt="">
            </a>
            <p>YO</p>
        </div>

        <div>
            <a href="">
                <img src="/img/volkswagen-3-logo-svg-vector.svg" alt="">
            </a>
            <p>QUIERO</p>
        </div>
    </section>

    
        <ul class="acciones">
            <li>
                <a href="">
                    <img src="/img/volkswagen-3-logo-svg-vector.svg" alt="">
                </a>
                <p>DORMIR</p>
            </li>

            <li>
                <a href="">
                    <img src="/img/volkswagen-3-logo-svg-vector.svg" alt="">
                </a>
                <p>COMER</p>
            </li>

            <li>
                <a href="">
                    <img src="/img/volkswagen-3-logo-svg-vector.svg" alt="">
                </a>
                <p>JUGAR</p>
            </li>

            <li>
                <a href="">
                    <img src="/img/volkswagen-3-logo-svg-vector.svg" alt="">
                </a>
                <p>BAÑO</p>
            </li>
        </ul>
    
</body>
</html>