<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HOLA SOFI 😍</title>
</head>

<body class="index">
    <ul class="selectorHome">
        <li class="actividades">
            <a href="https://app-sofi.herokuapp.com//actividades">ACTIVIDADES</a>
        </li>

        <li class="alimentacion">
            <a href="https://app-sofi.herokuapp.com//alimentacion">ALIMENTACIÓN</a>
        </li>

        <li class="juegos">
            <a href="https://app-sofi.herokuapp.com//juegos">JUEGOS</a>
        </li>
    </ul>
</body>

</html>